<div class="qholder" style="width:100%; height:53.3%; background:#fff;">
{{#each questions}}
	<div class="qtitle" style="width:50%; height:33.3%; background: url({{normal}}) no-repeat top right; float:left; background-size:cover" data-index="{{@index}}">
		<div class="title" id="title-{{@index}}">{{title}}</div>
	</div>
{{/each}}
</div>
<div class="details-holder" style="width:100%; height:46.8%; position:absolute; background:#000000;">
	<div class="wrapper" style="width:100%; height:100%;">
		
		<div class="percentage-bar"></div>
		<div class="details" style="position:absolute; width:100%; height:100%; z-index:10; background: url({{plug_init}}) no-repeat; background-size:cover;">
			<div class="question-title"></div>
			<div class="question-text"></div>
			<div class="question-answers" style="height:100%">
				<div class="multi-option" style="display:none;">
					<div class="option-a" style="width:100%; height:100%;" id="a">
						<div class="letter"></div>
						<div class="answer"></div>
					</div>
					<div class="option-b" style="width:100%; height:100%;" id="b">
						<div class="letter"></div>
						<div class="answer"></div>
					</div>
				</div>
				<div class="true-false" style="display:none;">
					<div class="answer-true" id="true"></div>
					<div class="answer-or"></div>
					<div class="answer-false" id="false"></div>
				</div>
			</div>
			<div class="percentage-text"><span class="number">0</span> <span class="percentage-sign">%<span></div>
		</div>
		
	</div>	
	

	
</div>